
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/matrix_transform.h> 


/ {
    kscan0: kscan0 {
        compatible = "zmk,kscan-gpio-matrix";
        diode-direction = "col2row";
        wakeup-source;

        col-gpios
            = <&pro_micro 4 GPIO_ACTIVE_HIGH>
            , <&pro_micro 5 GPIO_ACTIVE_HIGH>
            , <&pro_micro 6 GPIO_ACTIVE_HIGH>
            ;

        row-gpios
            = <&pro_micro 7 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 8 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 9 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            ;
    };
};



/ {
    default_transform: keymap_transform0 {
        compatible = "zmk,matrix-transform";
        columns = <3>; // Length of the "col-gpios" array
        rows = <3>; // Length of the "row-gpios" array
        map = <
        //   Key 1 | Key 2 | Key 3
            RC(0,0) RC(0,1) RC(0,2)
        //   Key 4 | Key 5 | Key 6
            RC(1,0) RC(1,1) RC(1,2)
        //   Key 7 | Key 8 | Key 9
            RC(2,0) RC(2,1) RC(2,2)
        >;
    };
};

/ {
    physical_layout0: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "Default Layout";
        kscan = <&kscan0>;
        transform = <&default_transform>;
    };

    /* pd0 はルート直下に置くのが一般的です */
    pd0: analog_stick {
        compatible = "zmk,input-analog-axis";
        /* 19(P0.02) と 20(P0.29) */
        gpios = <&gpio0 2 (GPIO_ACTIVE_HIGH)>, 
                <&gpio0 29 (GPIO_ACTIVE_HIGH)>;
    };

    /* input_configs ではなく zmk,input-listener の仕様に合わせます */
    joystick_split: virtual_input_joystick {
        compatible = "zmk,input-split";
        device = <&pd0>;
    };
    zip_xy_scaler: zip_xy_scaler {
        compatible = "zmk,input-processor-scaler";
        #input-processor-cells = <2>;
        type = <0x02>;        /* INPUT_EV_REL を 0x02 に置換 */
        codes = <0x00 0x01>;  /* X軸(0x00) と Y軸(0x01) を指定 */
        track-remainders;
    };

    /* リスナー設定 */
    joystick_listener {
        compatible = "zmk,input-listener";
        device = <&pd0>; 
        input-processors = <&zip_xy_scaler 1 1>;
    };

};