
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/matrix_transform.h> 


/ {
    kscan0: kscan0 {
        compatible = "zmk,kscan-gpio-matrix";
        diode-direction = "col2row";
        wakeup-source;

        col-gpios
            = <&pro_micro 4 GPIO_ACTIVE_HIGH>
            , <&pro_micro 5 GPIO_ACTIVE_HIGH>
            , <&pro_micro 6 GPIO_ACTIVE_HIGH>
            ;

        row-gpios
            = <&pro_micro 7 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 8 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 9 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            ;
    };
};

/ {
    default_transform: keymap_transform0 {
        compatible = "zmk,matrix-transform";
        columns = <3>; // Length of the "col-gpios" array
        rows = <3>; // Length of the "row-gpios" array
        map = <
        //   Key 1 | Key 2 | Key 3
            RC(0,0) RC(0,1) RC(0,2)
        //   Key 4 | Key 5 | Key 6
            RC(1,0) RC(1,1) RC(1,2)
        //   Key 7 | Key 8 | Key 9
            RC(2,0) RC(2,1) RC(2,2)
        >;
    };
};

/ {
    physical_layout0: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "Default Layout";
        kscan = <&kscan0>;
        transform = <&default_transform>;
    };
};
/ {
    /* 1. アナログスティック本体 */
    pd0: analog_stick {
        compatible = "zmk,input-analog-axis";
        io-channels = <&adc 0>, <&adc 5>; 
    };

    /* 2. リスナー：behavior-listener 形式に変更 */
    joystick_listener: joystick_listener {
        compatible = "zmk,input-behavior-listener";
        device = <&pd0>;
        layers = <0>;
        evt-type = <0x02>;        /* REL (マウス移動) */
        x-input-code = <0x00>;    /* X軸 */
        y-input-code = <0x01>;    /* Y軸 */
        scale-multiplier = <5>;   /* ここで速度を調整（5倍） */
        scale-exponent = <1>;     /* 加速感（1は等速） */
    };
};

&pd0 {
    status = "okay";
    sampling-interval-ms = <10>;
    report-interval-ms = <10>;
    deadzone = <100>;
};

/* スティックの詳細設定 */
&pd0 {
    status = "okay";
    sampling-interval-ms = <10>;
    report-interval-ms = <10>;
    deadzone = <100>;
};