
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/matrix_transform.h> 


/ {
    kscan0: kscan0 {
        compatible = "zmk,kscan-gpio-matrix";
        diode-direction = "col2row";
        wakeup-source;

        col-gpios
            = <&pro_micro 4 GPIO_ACTIVE_HIGH>
            , <&pro_micro 5 GPIO_ACTIVE_HIGH>
            , <&pro_micro 6 GPIO_ACTIVE_HIGH>
            ;

        row-gpios
            = <&pro_micro 7 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 8 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 9 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            ;
    };
};

/ {
    default_transform: keymap_transform0 {
        compatible = "zmk,matrix-transform";
        columns = <3>; // Length of the "col-gpios" array
        rows = <3>; // Length of the "row-gpios" array
        map = <
        //   Key 1 | Key 2 | Key 3
            RC(0,0) RC(0,1) RC(0,2)
        //   Key 4 | Key 5 | Key 6
            RC(1,0) RC(1,1) RC(1,2)
        //   Key 7 | Key 8 | Key 9
            RC(2,0) RC(2,1) RC(2,2)
        >;
    };
};

/ {
    /* 1. chosenノード：ラベル「layout0」を参照するように修正 */
    chosen {
        zmk,physical-layout = &layout0;
    };

    /* 2. 物理レイアウトの定義（名前の前に「layout0:」というラベルを付ける） */
    layout0: layout0 {
        compatible = "zmk,physical-layout";
        display-name = "Default Layout";
        /* transform（キーマップの行列変換）は、とりあえず無しでビルドを通します */
    };

    /* 3. アナログスティックの設定（ここはそのままでOK） */
    analog_stick: analog_stick {
        compatible = "zmk,input-analog-axis";
        io-channels = <&adc 0>, <&adc 5>;
        sampling-interval-ms = <10>;
        report-interval-ms = <10>;
        deadzone = <100>;
    };

    /* 4. マウスリスナー */
    joystick_listener {
        compatible = "zmk,input-listener";
        device = <&analog_stick>;
    };
};

/* ADCを確実に有効化 */
&adc {
    status = "okay";
};
🛠️ 修正のポイント