/ {
    chosen {
        zmk,kscan = &kscan0;
    };

    /* ボタン（押し込みクリック用） */
    kscan0: kscan_0 {
        compatible = "zmk,kscan-gpio-direct";
        input-gpios = <&gpio0 6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
    };

    /* アナログスティックの電圧を読み取る設定 */
    zephyr,user {
        io-channels = <&adc 0>, <&adc 5>; // P0.02(AIN0) と P0.29(AIN5)
    };
};

&adc {
    status = "okay";
};
#include <dt-bindings/zmk/matrix_transform.h> // Put this with the other includes at the top of your overlay

/ {
    physical_layout0: physical_layout_0 { // First physical layout, use different naming for other layouts
        compatible = "zmk,physical-layout";
        display-name = "Default Layout";
        kscan = <&kscan0>; // Label of the kscan node, optional if all layouts use the same
        transform = <&default_transform>; // Label of the matrix transform for this layout
    };
};