#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>


&pd0 {
    status = "okay";
    sampling-interval = <10>;
    scale-multiplier = <1>;
    deadzone = <100>;
};

/ {

    /* アナログ値をマウスの相対移動(REL)に変換する設定 */
    joystick_listener: joystick_listener {
        compatible = "zmk,input-behavior-listener";
        device = <&joystick_split>; // overlayで定義した名前
        layers = <0>;               // 全レイヤーで有効にする場合
        evt-type = <INPUT_EV_REL>;  // 相対移動（マウス）
        x-input-code = <INPUT_REL_X>;
        y-input-code = <INPUT_REL_Y>;
        scale-multiplier = <1>;     // 速すぎる場合はここを調整
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer { // Layer 0
            // -------------------------------------
            // |     Z     |     M     |     K     |
            // |     A     |     B     |     C     |
            // |     D     |     E     |     F     |
            bindings = <
                &kp Z    &kp M    &kp K
                &kp A    &kp B    &kp C
                &kp D    &kp E    &kp F
            >;
        };
    };
 };

/* スティックの感度設定 */
&pd0 {
    status = "okay";
    sampling-interval = <10>; // 10msごとに読み取り
};